 body{
    background:black;
 }
 .header {
    padding: 10px;
     display: flex;
     justify-content: space-between;
     
     color: white;
 }

 .footer {
     background-color:rgb(250, 250, 250);
 }

 .container {
     margin: 0px;
 }

 * {
     margin: 0px;
 }

 .menu {
     display: flex;
 }

 .menu li{
    list-style:none;
    margin: 5px;
    
 }
 .menu li a{
    text-decoration: none;
    color:rgb(79, 77, 77);
 } .header {
    padding: 10px;
     display: flex;
     justify-content: space-between;
     background-color: rgb(79, 77, 77);
     color: white;
 }

 .footer {
     background-color: silver;
 }

 .container {
     margin: 0px;
     color: white;
 }

 * {
     margin: 0px;
 }

 .menu {
     display: flex;
 }

 .menu li{
    list-style:none;
    margin: 5px;
    color: white;
    
 }
 .menu li a{
    text-decoration: none;
    color:white;
 }